<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<title>Goleiros</title>

<link rel="stylesheet" type="text/css" media="all"
	href="../../css/goleiros.css" th:href="@{/css/goleiros.css}" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="../../js/index.js"></script>
</head>
<body>

	<div layout:fragment="content">
		<section class="my-5">

			<div id="fundo-externo">
				<div id="fundo">
					<img src="/img/img_fundo/galera4.jpg">
				</div>
			</div>
       <h1 id="msg">Pagina com ERRO</h1>
			
		</section>
	
<footer>
   <div class="container">
      <a class="btn btn-primary" href="#" role="button">Voltar</a>
     &nbsp;&nbsp;<a class="btn btn-primary" href="/" role="button">inicio</a>
      <br></br>
      
      <p>&copy; 2020 Pelada do maruim.</p>
   </div>
</footer>

	</div>

</body>
</html>