* {
    margin: 0;
    padding: 0;
}


.header {
    position: relative;
    z-index: 1000;
    top: 0;
    width: 100%;
     margin: 5 auto;
    padding: 5;
  
}



#navbar{
	width: 100%;
margin: 0 auto;
display: flex;
}













/*-------------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------*/

