<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <title>Pelada do Maruim</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/index.css" th:href="@{/css/index.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="../../js/index.js"></script>
 
</head>

<body>

<div layout:fragment="content">

      <section class="my-5">

			<div id="fundo-externo">
				<div id="fundo">
					<img src="/img/img_fundo/galera.jpg">
				</div>
			</div>

			<div id="site">
				<h1 id="texto">pelada do maruim</h1>

				<br></br> <br></br>

				<p id="texto"> A pelada do maruin é uma das mais antigas da cidade do paulista PE,
				    foi fundada ainda na decada de 90 por entusiastas do futebol. </p>
				
				<p id="texto"> Localizada na PE-22, no bairro do Engenho-Maranguape.
				    As partidas são realizadas no campo do bota-fogo aos domingos, 
				    apartir da 5:00 horas da manhã</p>
				   
				<p id="texto"> Nós da pelada do maruin adoramos jogar bola.
				    Temos neste esporte a possibilidade de interagir
				    com novos e velhos amigos.
				    </p>
				    
				 <p id="texto">A todos que fazem a pelada do maruin possivel, Obrigado!</p>
				
			</div>
			


	 </section>   
	 

<footer>
   <div class="container">
      <a class="btn btn-primary" href="#" role="button">Voltar</a>
     &nbsp;&nbsp;<a class="btn btn-primary" href="/" role="button">inicio</a>
      <br></br>
      
      <p>&copy; 2020 Pelada do maruim.</p>
   </div>
</footer>
 

</div>
</body>
</html>
