<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<title>pelada do maruin - julho</title>

<link rel="stylesheet" type="text/css" media="all"
	href="../../css/janeiro.css" th:href="@{/css/janeiro.css}" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="../../js/index.js"></script>

<script>
function bigImg(x) {
  x.style.height = "100%";
  x.style.width = "100%";
}

function normalImg(x) {
  x.style.height = "200px";
  x.style.width = "200px";
}
</script>


</head>
<body>

	<div layout:fragment="content">
		<section class="my-5">

			<div id="fundo-externo">
				<div id="fundo">
					<img src="/img/img_fundo/campo.jpg">
				</div>
			</div>
       
       
       
       <div align="center" class="row" ondrop="drop(event)" ondragover="allowDrop(event)">
         
                 
                <div class="col-12" ondrop="drop(event)" ondragover="allowDrop(event)">
                     <h3 id="msg">julho</h3>
                     <h3 id="msg">05/07/2020</h3>
                    <br></br>
                    <img onclick="bigImg(this)" ondblclick="normalImg(this)" border="0" src="/img/escalacao_ano_2020/julho.05.07.2020.png" draggable="true" ondragstart="drag(event)" id="drag1" class="rounded" alt="Smiley" width="200" height="200">
                     <br></br>
                </div>
                
                <div class="col-12" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <br></br>
                    <br></br>
                    <h3 id="msg">12/07/2020</h3>
                    <br></br>
                    <img onclick="bigImg(this)" ondblclick="normalImg(this)" border="0" src="/img/escalacao_ano_2020/julho.12.07.2020.png" draggable="true" ondragstart="drag(event)" id="drag1" class="rounded" alt="Smiley" width="200" height="200">
                     <br></br>
                </div>
                
                <div class="col-12" ondrop="drop(event)" ondragover="allowDrop(event)">
                      <br></br>
                      <br></br>
                      <br></br>
                      <h3 id="msg">26/07/2020</h3>
                    <br></br>
                    <img onclick="bigImg(this)" ondblclick="normalImg(this)" border="0" src="/img/escalacao_ano_2020/julho.26.07.2020.png" draggable="true" ondragstart="drag(event)" id="drag1" class="rounded" alt="Smiley" width="200" height="200">
                     <br></br>
                </div>
   
            </div>
       
			
		</section>
	
<footer>
   <div class="container">
      <a class="btn btn-primary" href="/" role="button">inicio</a>
     &nbsp;&nbsp;<a class="btn btn-primary" href="/agosto" role="button">agosto</a>
      <br></br>
      
      <p>&copy; 2020 Pelada do maruim.</p>
   </div>
</footer>

	</div>

</body>
</html>