<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
  <meta charset="UTF-8">
    <title>escalação 2020 - Maio</title>
  


</head>



<body>
<div layout:fragment="content" class='container' align='center'>

<h1>NÃO TEVE PELADA</h1>
<h1>Maio</h1>

<footer>
   <div class="container">
      <a class="btn btn-primary" href="#" role="button">Voltar</a>
     &nbsp;&nbsp;<a class="btn btn-primary" href="/junho" role="button">junho</a>
      <br></br>
      
      <p>&copy; 2020 Pelada do maruim. todos Direitos Reservados.</p>
   </div>
</footer>
</div>                  
</body>
</html>
