<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
  <meta charset="UTF-8">
    <title>escalação 2020 - outubro</title>
  
  <link rel="stylesheet" type="text/css" media="all" href="../../css/julho.css" th:href="@{/css/julho.css}"/>
<script>
function bigImg(x) {
  x.style.height = "100%";
  x.style.width = "100%";
}

function normalImg(x) {
  x.style.height = "200px";
  x.style.width = "200px";
}
</script>

</head>



<body>
 
<div layout:fragment="content">
 
 <section class="my-5">
  
  <div id="fundo-externo">
		<div id="fundo">
		  <img src="/img/img_fundo/galera4.jpg">
		</div>
  </div>
  
<div class='container' id="janeiro" align="center">
               
           
	     <div id="div1" class="row" ondrop="drop(event)" ondragover="allowDrop(event)">
	         
			<div class="col-12" ondrop="drop(event)" ondragover="allowDrop(event)">
			
			<h1 id="msg">Escalação de outubro</h1>
			<br></br>
			    <h3 id="msg">04/10/2020</h3>
				<img onclick="bigImg(this)" ondblclick="normalImg(this)" border="10" src="/img/escalacao_ano_2020/outubro.04.10.2020.png" draggable="true" ondragstart="drag(event)" id="drag1" class="rounded" alt="Smiley" width="200" height="200">	
				<br></br>
				<br></br>
				<br></br>
		    </div>  
	    </div>
	    
		<div id="div1" class="row" ondrop="drop(event)" ondragover="allowDrop(event)">
	
			<div class="col-12" ondrop="drop(event)" ondragover="allowDrop(event)">
				<br></br>
				<br></br>
				<br></br>
				<h3 id="msg">11/10/2020</h3>
				<img onclick="bigImg(this)" ondblclick="normalImg(this)" border="10" src="/img/escalacao_ano_2020/outubro.11.10.2020.png" draggable="true" ondragstart="drag(event)" id="drag1" class="rounded" alt="Smiley" width="200" height="200">	
				<br></br>
				<br></br>
				<br></br>
		    </div>  
	   </div>
	   
		<div id="div1" class="row" ondrop="drop(event)" ondragover="allowDrop(event)">
	
			<div class="col-12" ondrop="drop(event)" ondragover="allowDrop(event)">
				<br></br>
				<br></br>
				<br></br>
				<br></br>
				<h3 id="msg">18/10/2020</h3>
				<img onclick="bigImg(this)" ondblclick="normalImg(this)" border="10" src="/img/escalacao_ano_2020/outubro.18.10.2020.png" draggable="true" ondragstart="drag(event)" id="drag1" class="rounded" alt="Smiley" width="200" height="200">	
				
		    </div>  
	   </div>
	   
	   <div id="div1" class="row" ondrop="drop(event)" ondragover="allowDrop(event)">
	
			<div class="col-12" ondrop="drop(event)" ondragover="allowDrop(event)">
				<br></br>
				<br></br>
				<br></br>
				<br></br>
				<h3 id="msg">25/10/2020</h3>
				<img onclick="bigImg(this)" ondblclick="normalImg(this)" border="10" src="/img/escalacao_ano_2020/outubro.25.10.2020.png" draggable="true" ondragstart="drag(event)" id="drag1" class="rounded" alt="Smiley" width="200" height="200">	
				
		    </div>  
	   </div>
	
	  
	
</div>
 
    
 </section> 
 
 <footer>
   <div class="container">
      <a class="btn btn-primary" href="#" role="button">Voltar</a>
     &nbsp;&nbsp;<a class="btn btn-primary" href="/novembro" role="button">novembro</a>
      <br></br>
      
      <p>&copy; 2020 Pelada do maruim. todos Direitos Reservados.</p>
   </div>
</footer> 
</div>                  
</body>
</html>
